[project]
	description = MineChem For Rushmead Merge All Stuff From Here to Latest Area!
[access "refs/*"]
	owner = group user/diadistis (diadistis)
[access "refs/for/refs/*"]
	read = group user/diadistis (diadistis)
	push = group user/diadistis (diadistis)
	label-Code-Review = -2..+2 group user/diadistis (diadistis)
	label-Verified = -1..+1 group user/diadistis (diadistis)
	rebase = group user/diadistis (diadistis)
	removeReviewer = group user/diadistis (diadistis)
	submit = group user/diadistis (diadistis)
[access "refs/heads/*"]
	read = group user/diadistis (diadistis)
	create = group user/diadistis (diadistis)
	push = +force group user/diadistis (diadistis)
	pushMerge = group user/diadistis (diadistis)
[access "refs/tags/*"]
	push = +force group user/diadistis (diadistis)
	pushTag = group user/diadistis (diadistis)
	pushSignedTag = group user/diadistis (diadistis)
